{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-header bg-dark text-white">
                <h4 class="mb-0">{{ title }}</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <hr>
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'asset_list' %}" class="btn btn-secondary">Cancel</a>
                        <button type="submit" class="btn btn-success">Save Asset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}