{% extends 'movies/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Detail</title>
</head>
<body>
    {% block content %}
    <h2>{{movie.title}}</h2>
    <img src="{{movie.poster.url}}" alt="movie poster" width="200">

    <p>{{movie.description}}</p>
    <p>Category : {{movie.catergory}}</p>
    <p>Actors: 
        {% for actor in movie.actors.all %}
            {{actor.name}},
        {% endfor %}
    </p>

    <p>Added by: {{movie.user.username}}</p>

    {% if movie.user == request.user %}
    <a href="{% url 'edit_movie' movie.id %}">Edit Movie</a>      
    <a href="{% url 'delete_movie' movie.id %}">Delete Movie</a>
    {% endif %}
    {% endblock %}
</body>
</html>