<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <form method="get">
        <input type="text" name="q" placeholder="Search Product" value="{{query}}">
        <button type="submit" >Search</button>
    </form>
        <ul>
            {% for product in page_obj %}
            <li>
                {{product.name}} - ₹{{product.price}}
            </li>
            
            {% empty %}
            <li>No product</li>
            
            {% endfor %}
        </ul>
        <div>
            {% if page_obj.has_previous %}
                <a href="?q={{query}}&page={{page_obj.previous_page_number}}">previous</a>
            {% endif %}
                page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
            {% if page_obj.has_next   %}
                <a href="?q={{query}}&page={{page_obj.next_page_number}}">Next</a>
            {% endif %}
        </div>

    
    
</body>
</html>